<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>

        <h3 xmlns="http://www.w3.org/1999/html">
          <%=  pluralize(@user.errors.count, flash[:error] = "error") %> prohibited this user from being saved
        </h3>

      <ul>

        <% flash[:error] = @user.errors.full_messages.each do  | msg | %>


      <% end %>
      </ul>


    <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password %>
   </div>
  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">

    <%= f.submit %>
  </div>
<% end %>
